<% if flash %>
    <p class="error"><%= flash[:error] %></p>
<% end %>

<%= form_with do |f| %>
    <div class="form-section">  
        <%= f.label :email %>
        <%= f.email_field :email %>
    </div>
    <div class="form-section">  
        <%= f.label :password %>
        <%= f.password_field :password %>
    </div>
    <%= f.submit "Login", class: "form-button"%>
<% end %>

<div class="third-party-login">
    <%= button_to "Log in with Google", '/auth/google_oauth2', class: "form-button omniauth-button"%>
</div>

<p class="login-info-text">Don't have an account? <%= link_to "Signup", signup_path, class: "signup-link" %></p>
