<%= form_with do |f| %>
    <div class="form-section">  
        <%= f.label :email %>
        <%= f.email_field :email %>
    </div>
    <div class="form-section">  
        <%= f.label :password %>
        <%= f.password_field :password %>
    </div>
    <%= f.submit "Login", class: "form-button"%>
<% end %>

<p>Don't have an account? <%= link_to "Signup", signup_path, class: "signup-link" %></p>

<div class="third-party-login">
    <%= button_to "Log in with Google", '/auth/google_oauth2' %>
</div>