<h1><%= @species.common_name %></h1>
<div class="card">
    <h2>Water every <%= @species.water_frequency %> days.</h2>
    <p><%= @species.notes %></p>
    <%= image_tag @species.image_path, class: "large-species-icon" %>
</div>
<br>
<h1>Plants</h1>
<%= render partial: "plants/plant", collection: @species.plants %>