<% if @user.errors %>
    <p class="error">
        <% @user.errors.full_messages.each do |message| %>
            <%= message %>
        <% end %>
    </p>
<% end %>

<%= form_with(model: @user) do |f| %>
    <div class="form-section">  
        <%= f.label :username %>
        <%= f.text_field :username %>
    </div>
    <div class="form-section">  
        <%= f.label :email %>
        <%= f.email_field :email %>
    </div>
    <div class="form-section">  
        <%= f.label :password %>
        <%= f.password_field :password %>
    </div>
    <%= f.submit "Signup", class: "form-button"%>
<% end %>

<div class="third-party-login">
    <%= button_to "Signup with Google", '/auth/google_oauth2', class: "form-button omniauth-button"%>
</div>

<p class="login-info-text">Already have an account? <%= link_to "Login", login_path, class: "signup-link" %></p>
