<%= display_errors_if_any(@plant) %>

<div class="card">

    <%= form_with(model: @plant, url: user_plants_path(@user)) do |f| %>
        <%= f.label :nickname %>
        <%= f.text_field :nickname %>
        <%= tag.p("Note: Your plant doesn't have to have a nickname.") %>
        <br>
        <br>    
        <%= f.label :species_id %>
        <%= f.collection_select :species_id, Species.all, :id, :common_name, prompt: true %>
        <br>
        <br>
        <%= f.label :water_frequency %>
        <%= f.number_field :water_frequency, step: 1 %>
        <%= tag.p("Note: If you aren't sure how often to water your plant, no worries we will let you know what is recommended. You can always adjust how often you need to water your plant.") %>
        <br>
        <br>
        <%= f.submit %>
    <% end %>

</div>