<%= display_errors_if_any(@plant) %>

<div class="card">

    <% # NOTE: Using [] for the url will look for the @user/@plant route, if @user isn't declared then it will compact to just @plant. %>

    <%= form_with(model: @plant, url: [@user, @plant]) do |f| %>
        <div class="form-section application-form">  
            <%= f.label :nickname %>
            <%= f.text_field :nickname %>
            <p class="form-note">Your plant doesn't have to have a nickname</p>
        </div>
        <div class="form-section application-form">  
            <%= f.label :species_id %>
            <%= f.collection_select :species_id, Species.all, :id, :common_name, prompt: true %>
        </div>
        <div class="form-section application-form">  
            <%= f.label :water_frequency, "Number of days between watering your plant" %>
            <%= f.number_field :water_frequency, step: 1 %>
            <p class="form-note">If you aren't sure how often to water your plant, just leave this blank and we will let you know what is recommended.</p>
        </div>
        <br>
        <%= f.submit id: "application-button"%>
    <% end %>

</div>