<%= display_errors_if_any(@watering) %>

<div class="card">

    <%= form_with(model: @watering, url: [@plant, @watering]) do |f| %>
        <%= f.label :notes %>
        <%= f.text_area :notes %>
        <br>
        <br>    
        <%= f.submit %>
    <% end %>

</div>