<%= display_errors_if_any(@watering) %>

<div class="card">

    <%= form_with(model: @watering, url: user_plant_waterings_path(@user, @plant)) do |f| %>
        <%= f.label :notes %>
        <%= f.text_area :notes %>
        <br>
        <br>    
        <%= f.submit %>
    <% end %>

</div>