<h1><%= @watering.plant.nickname_for_views %>'s Watering on <%= @watering.date_for_views %></h1>
<div class="card">
    <p><%= @watering.notes %></p>

    <% if current_user == @watering.plant.user %>
        <%= link_to "Edit Watering", edit_watering_path(@watering) %>
        <%= form_with(model: @watering, method: :delete) do |f| %>
            <%= f.submit "Delete Watering" %>
        <% end %>
    <% end %>
</div>